---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/base/BaseHead.astro";
import Footer from "../components/base/Footer.astro";
import Header from "../components/base/Header.astro";
import Infinity from "../components/blog/Infinity.astro";
import PaymentButtons from "../components/blog/PaymentButtons.astro";

type Props = CollectionEntry<"blog">["data"];

const { frontmatter, headings } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={frontmatter.title} description={frontmatter.description} />
  </head>

  <body class="dark:bg-black-900">
    <Header />
    <main>
      <article id="single-article">
        <div
          id="meta"
          class="text-balance dark:bg-primary-200 dark:text-slate-900 bg-primary-200 text-black-900 p-20"
        >
          <h1
            class="title flex justify-center place-items-center text-2xl lg:text-5xl text-center font-display font-semibold"
          >
            {frontmatter.title}
          </h1>

          <div
            class="flex justify-center place-items-center text-xl lg:text-3xl mt-5 font-display font-bold"
          >
            <p>Last updated on {frontmatter.updatedDate}</p>
          </div>
        </div>
        <hr />
        <div>
          <div class="mt-8 mx-auto grid grid-cols-12">
            <div
              class="dark:prose-invert prose prose-slate prose-xl col-span-10 col-start-2 col-end-12 md:col-span-6 md:col-start-4 md:col-end-10 mx-auto"
            >
              <slot />
              <PaymentButtons />
              <Infinity />
            </div>
          </div>
        </div>
      </article>

      <div
        class="bg-primary-200 dark:bg-primary-200 dark:text-slate-900 text-black-900 p-20 text-xl md:text-2xl"
      >
        <ul class="list-none flex justify-evenly gap-x-4">
          <li>
            Author: <a
              href=`/authors/${frontmatter.author}`
              class="hover:text-black-900 underline"
              >{frontmatter.author.toLowerCase().replace(/-/g, " ")}</a
            >
          </li>
          <li>
            Category: <a
              class="hover:text-black-900 underline"
              href={`/category/${frontmatter.categories}`}
              >{frontmatter.categories.toLowerCase().replace(/-/g, " ")}</a
            >
          </li>
          <li>
            Tags: {
              frontmatter.tags.map((tag, index) => (
                <span>
                  <a
                    class="hover:text-black-900 underline"
                    href={`/tag/${tag}`}
                  >
                    {tag.toLowerCase().replace(/-/g, " ")}
                  </a>
                  {index === frontmatter.tags.length - 1 ? "" : ","}
                </span>
              ))
            }
          </li>
        </ul>
      </div>
    </main>

    <Footer />
  </body>
</html>
